.intro {
  z-index: 1;
  position: absolute;
  top: 1vw;
  left: 1vw;
  width: 98vw;
  font-size: 150%;
  box-sizing: border-box;
  padding: 0.75rem;
  color: #FFF;
  background: rgba(0, 0, 0, 0.75);
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;

  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;

  opacity: 0;
  visibility: hidden;
}
#intro.shown {
  opacity: 1;
  visibility: visible;
}
.row {
  padding: 0.75rem;
}
.big {
  font-size: 125%;
  font-weight: bold;
}
.menu-overlay {
  z-index: 99999;
  position: fixed;
  top: 15px;
  right: 15px;
  box-sizing: border-box;
  padding: 1.5em;
  width: 50px;
  height: 50px;
  padding-bottom: 0px;
  background: rgba(0, 0, 0, 0.5) url(./../assets/white-arrow.png) center no-repeat;
  background-size: 40px 40px;
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  transform: rotate(180deg);
}
.menu-overlay:hover {
  background: rgba(0, 0, 0, 0.2) url(./../assets/white-arrow.png) center no-repeat;
  background-size: 40px 40px;
}
