@use '../../../style/variables.scss';

.reportButton {
  position: fixed;
  bottom: 0;
  left: calc(75%); /* Position to the right of the Add Layer button */
  transform: translateX(-50%);
  margin-bottom: 0px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}
