@use '../../../style/variables.scss';

.wrapper {
  position: fixed;
  top: 36px;
  left: 200px;
  height: 43px;
  width: fit-content;
  z-index: 10;
  .undoRedoActions {
    padding-top: 12px;
  }
  .undoRedoActions,
  .toolbarActions {
    width: fit-content;
    height: 43px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
  }
  .saveButtonWrapper {
    position: relative;
    .icon * {
      stroke: variables.$gray-200;
    }
    .dropdownedButtons {
      position: absolute;
      width: 300px;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      top: 51px;
    }
  }
  .saveActions,
  .loadActions {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
  .closeButton {
    border-radius: 22px;
  }
  .closeButton {
    width: 43px;
    height: 43px;
    background: rgba(50, 50, 50, 0.8);
    border-radius: 22px !important;
    &:hover {
      background: variables.$darkgray-300;
      svg > path {
        stroke: variables.$white;
      }
    }
  }
  .fa {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    max-width: 300px;
    .hideInLowResolution {
      display: none !important;
    }
  }
}
