rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /scenes/{scene} {
      allow read;
    }
    
    match /scenes/{scene} {
    	// Allow create new scene if user is authenticated
      allow create: if request.auth != null;

      // Allow update or delete scene if user is owner of document
      allow update, delete: if request.auth.uid == resource.data.author;
    }
  }
}

service firebase.storage {
  match /b/{bucket}/o {
    match /scenes/{scene_uuid}/files/{allPaths=**} {
      allow read: if isImageUnderSizeLimit() || request.auth != null;
      allow write: if request.auth != null && isAuthorOfScene(scene_uuid);
    }
  }
}

function isImageUnderSizeLimit() {
  return resource.size < 100 * 1024 && resource.contentType.matches('image/.*');
}

function isAuthorOfScene(scene_uuid) {
  return firestore.get(/databases/(default)/documents/scenes/$(scene_uuid)).data.author == request.auth.uid;
}