@use '../../../style/variables.scss';

.wrapper {
  color: white;
  text-shadow:
    rgb(0, 0, 0) 0 1px 3px,
    rgb(0, 0, 0) 0 -1px 3px,
    rgb(0, 0, 0) 1px 0 3px,
    rgb(0, 0, 0) -1px 0 3px;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  z-index: 1;

  &:hover {
    background: rgba(50, 50, 50, 0.4);
  }

  .title {
    max-width: 50vw;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px !important;
    white-space: nowrap;
  }
}
