@use '../../../style/variables.scss';

.resetZoomButton {
  padding: 0 !important;
  width: 43px !important;
  height: 43px;
}

.wrapper {
  width: 43px;
  height: 86px;
  overflow: hidden;
  border-radius: 32px;
  margin: 0;
  padding: 0;
  opacity: 1;
  visibility: visible;
  .btn {
    display: block;
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    background-color: variables.$darkgray-300;
    outline: unset;
    border: unset;
    border-radius: unset;
    color: variables.$white;
    transition: all 0.3s;
    &.plusButton {
      background-image: url(variables.$plusButton);
      background-repeat: no-repeat;
      background-position: bottom 8px center;
    }
    &.minusButton {
      background-image: url(variables.$minusButton);
      background-repeat: no-repeat;
      background-position: top 8px center;
    }
    &:hover {
      background-color: variables.$purple-100;
    }
    &:active {
      background-color: variables.$purple-200;
    }
  }
}
