@use '../../../style/variables.scss';

.wrapper {
  position: absolute;
  z-index: 1;
  top: unset;
  right: 32px;
  bottom: 84px;
  display: block;
  min-width: unset;
  width: 3rem;
  height: 6rem;
  overflow: hidden;
  border-radius: 32px;
  margin: 0;
  padding: 0;
  opacity: 1;
  visibility: visible;
  .btn {
    display: block;
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    background-color: variables.$darkgray-300;
    outline: unset;
    border: unset;
    border-radius: unset;
    color: variables.$white;
    transition: all 0.3s;
    &.plusButton {
      background-image: url(variables.$plusButton);
      background-repeat: no-repeat;
      background-position: bottom 8px center;
    }
    &.minusButton {
      background-image: url(variables.$minusButton);
      background-repeat: no-repeat;
      background-position: top 8px center;
    }
    &:hover {
      background-color: variables.$purple-100;
    }
    &:active {
      background-color: variables.$purple-200;
    }
  }
}
