@use '../../../style/variables.scss';

.screenshotButton {
  border: unset;

  background-color: variables.$purple;
  &:hover {
    background-color: variables.$purple-100;
  }
  &:active {
    background-color: variables.$purple-200;
  }
}

@media screen and (max-width: 1024px) {
  .innerText {
    display: none !important;
  }
}
