@use './variables.scss';

#toolbar {
  position: absolute;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(4px);
  height: auto;
  border-radius: 6px;
  padding: 10px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.MenubarRoot {
  display: flex;
  background-color: variables.$bgalphadarker;
  padding: 3px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(22, 23, 24, 0.5);
  position: relative;
  z-index: 2;
}

.MenubarTrigger {
  font-size: 17px !important;
  padding: 7px 16px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;

  &:hover {
    background-color: variables.$darkgray-100;
  }
}

.MenubarTrigger[data-highlighted],
.MenubarTrigger[data-state='open'] {
  background-color: variables.$black-100;
}

.MenubarContent,
.MenubarSubContent {
  min-width: 220px;
  background-color: variables.$bgalphadarker;
  border-radius: 6px;
  padding: 5px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  z-index: 10;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
}

.MenubarItem,
.MenubarSubTrigger,
.MenubarCheckboxItem,
.MenubarRadioItem {
  all: unset;
  font-size: 17px;
  line-height: 1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 10px;
  position: relative;
  user-select: none;
  cursor: pointer;
}

.MenubarItem.inset,
.MenubarSubTrigger.inset,
.MenubarCheckboxItem.inset,
.MenubarRadioItem.inset {
  padding-left: 20px;
}

.MenubarItem[data-state='open'],
.MenubarSubTrigger[data-state='open'] {
  background-color: variables.$black-100;
}

.MenubarItem[data-highlighted],
.MenubarSubTrigger[data-highlighted],
.MenubarCheckboxItem[data-highlighted],
.MenubarRadioItem[data-highlighted] {
  background-color: variables.$black-100;
}

.MenubarItem[data-disabled],
.MenubarSubTrigger[data-disabled],
.MenubarCheckboxItem[data-disabled],
.MenubarRadioItem[data-disabled] {
  color: variables.$lightgray-800;
  pointer-events: none;
}

.MenubarItemIndicator {
  position: absolute;
  left: 0;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.MenubarSeparator {
  height: 1px;
  background-color: variables.$lightgray;
  margin: 5px;
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: variables.$lightgray-100;
}

[data-highlighted] > .RightSlot {
  color: variables.$white;
}

[data-disabled] > .RightSlot {
  color: variables.$lightgray-400;
}

.pro-badge {
  background-color: #774dee;
  padding: 0px 8px;
  border-radius: 8px;
  margin-left: 8px;
  font-size: 0.775rem;
  font-weight: normal;
  display: inline-block;
}
