@use '../../../style/variables.scss';

.geoLocationDisplay {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1;
  pointer-events: all;

  .content {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;

    .searchIcon {
      width: 16px;
      height: 16px;
      opacity: 0;
      margin-left: -22px;
      transition: all 0.2s ease;

      path {
        fill: white;
      }
    }

    .locationText {
      font-size: 11px;
      font-weight: 500;
      color: white;
      white-space: nowrap;
      text-align: right;
    }

    &.hovered {
      background-color: rgba(50, 50, 50, 0.8);

      .searchIcon {
        opacity: 1;
        margin-left: 0;
      }
    }
  }
}
