@import url("notyf.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500');

html {
	font-family: 'Lato', sans-serif;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #C4C4C4;
	color: #283237;
	padding: 0;
	margin: 0;
}

/* maps copyright notice */
#map-data-attribution {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #bebebe;
	z-index: 1;
}

#map-logo {
	display: inline;
	font-style: normal;
	font-size: 10px;
	line-height: 10px;
	color: #bebebe;
}

#map-copyright {
	display: inline-block;
	line-height: 10px;
	color: #bebebe;

}

/* notification hack */
.notyf__message {
	font-size: 20px !important;
}

/* notification width hack */
.notyf__toast {
	max-width: 66.66vw !important;
	/* 2/3rds of viewport width */
	width: auto !important;
	/* Resetting any specific width, if set */
}


/* editor geomodal styles - google places autocomplete input styling
 * this needs to be in global css, didn't work as part of geomodal scss
 */
.pac-container {
	background-color: #282828 !important;
	color: #ffffff !important;
}

.pac-item {
	color: #ffffff !important;
	border-top: 1px solid #333 !important;
}

.pac-item:hover {
	background-color: #714FE5
}

.pac-item-query {
	color: #ffffff !important;
}

/********* viewer header css *********/

.viewer-header-wrapper {
	background-color: transparent;
	width: 100%;
	padding: 0px 0;
	position: fixed;
	top: 39px;
	left: 40px;
	z-index: 999999;
}

.viewer-header-wrapper {
	width: 100%;
	display: inline-flex;
	align-items: center;
}

.viewer-logo-img {
	height: 43px;
	width: 370px;
}

.viewer-logo-start-editor-button {
	border: none;
	background: none;
	cursor: pointer;
}

.viewer-logo-start-editor-button:hover,
.viewer-logo-start-editor-button.hover {
	transition: all 0.25s ease-in-out 0s;
	-webkit-filter: brightness(.75);
	-moz-filter: brightness(.75);
	-ms-filter: brightness(.75);
	filter: brightness(.75);
}


/********* right menu css *********/

.right-fixed {
	position: fixed;
	right: 0;
	margin-top: 22.5vh;
	z-index: 1;
}

body.aframe-inspector-opened .right-fixed {
	display: none;
}

.right-menu {
	padding-left: 0;
	text-align: right;
}

.right-menu li {
	list-style: none;
	margin-right: 0;
	position: relative;
}

.right-menu li a {
	background: rgba(50, 50, 50, 0.5);
	padding: 0;
	list-style: none;
	margin: 10px 0;
	border-radius: 12px 0 0 12px;
	display: inline-flex;
	font-size: 18px;
	align-items: center;
	transition: all .4s ease-in-out 0s;
}

.right-menu li a:hover {
	background: #6100FF;
	transition: all .4s ease-in-out 0s;
}

.right-menu li a span {
	margin-left: 16px;
	transition: all .4s ease-in-out 0s;
	text-align: left;
	width: 200px;
	letter-spacing: .5;
	margin-right: -270px;
	padding-left: 60px;
	color: rgba(50, 50, 50, 0.5);
}

.right-menu li a:hover span {
	margin-right: 0;
	padding-left: 0;
	color: #fff;
}

.right-menu li a {
	color: #fff;
	text-decoration: none;
}

.right-menu li a img {
	vertical-align: middle;
	width: 32px;
	height: 32px;
	z-index: 999;
	padding: 16px;
}

.right-menu li a:hover img {
	background: #6100FF;
	z-index: 9999;
}

/********* scene title css *********/

#sceneTitle {
	position: fixed;
	color: white;
	font-size: 20px;
	font-family: Lato;
	font-weight: 400;
	word-wrap: break-word;
	bottom: 43px;
	pointer-events: none;
	z-index: 2;
	width: 100%;
	text-align: center;
	height: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
}

body.aframe-inspector-opened #sceneTitle {
	display: none;
}

/********* Loading Animation Styles *********/
.loader__wrapper {
	width: 100vw;
	height: 100vh;
	background: rgba(14, 14, 14, 0.69);

	display: flex;
	justify-content: center;
	align-items: center;
}

.loader {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	z-index: 999999;

}

.road {
	width: 320px;

	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 12px;

	border-top: 4px solid #fff;

	color: #fff;
	font-weight: normal;
}

/* ENTITIES */

/*
	entities width = 1050px
	loader width = 320px
	animation-duration = 5840ms 
  */
.entities {
	position: absolute;
	bottom: 40px;
	right: 0;

	/* 730px = 1050px - 320px */
	clip-path: inset(0 0px 0 730px);
	transform: translateX(0px);
	animation: topMoving 5840ms linear infinite;
}

@keyframes topMoving {
	0% {
		clip-path: inset(0 0px 0 730px);
		transform: translateX(0px);
	}

	100% {
		clip-path: inset(0 730px 0 0px);
		transform: translateX(730px);
	}
}

/* TRANSPORT */
.transport {
	position: absolute;
	left: 0;
	top: 2px;
}

.wrapper__transport {
	display: flex;
	align-items: flex-end;
	position: relative;
}

.wrapper__transport img {
	position: absolute;
}

/* BIKE */
.transport .bike {
	position: absolute;
	animation: bike 5840ms linear infinite;
}

@keyframes bike {
	0% {
		left: -27px;
		clip-path: inset(0 0 0 100%);
	}

	4% {
		left: 0px;
		clip-path: inset(0 0 0 0);
	}

	32% {
		left: 294px;
		clip-path: inset(0 0 0 0);
	}

	36% {
		clip-path: inset(0 100% 0 0);
		left: 320px;
	}

	100% {
		clip-path: inset(0 100% 0 0);
		left: 320px;
	}
}

/* BUS */
.transport .bus {
	position: absolute;
	animation: bus 5840ms linear infinite;
}

@keyframes bus {
	0% {
		left: -36px;
		clip-path: inset(0 0 0 100%);
	}

	8% {
		left: -36px;
		clip-path: inset(0 0 0 100%);
	}

	12% {
		left: 0px;
		clip-path: inset(0 0 0 0);
	}

	44% {
		left: 284px;
		clip-path: inset(0 0 0 0);
	}

	48% {
		clip-path: inset(0 100% 0 0);
		left: 320px;
	}

	100% {
		clip-path: inset(0 100% 0 0);
		left: 320px;
	}
}

/* CAR */
.transport .car {
	position: absolute;
	animation: car 5840ms linear infinite;
}

@keyframes car {
	0% {
		left: -30px;
		clip-path: inset(0 0 0 100%);
	}

	20% {
		left: -30px;
		clip-path: inset(0 0 0 100%);
	}

	24% {
		left: 0px;
		clip-path: inset(0 0 0 0);
	}

	76% {
		left: 290px;
		clip-path: inset(0 0 0 0);
	}

	80% {
		clip-path: inset(0 100% 0 0);
		left: 320px;
	}

	100% {
		clip-path: inset(0 100% 0 0);
		left: 320px;
	}
}