@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500');
html {
	font-family: 'Lato', sans-serif;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #C4C4C4;
	color: #283237;
	padding: 0;
	margin: 0;
}


/********* header css *********/

.header-wrapper {
	background-color: transparent;
	width: 100%;
	padding: 20px 0;
	position: fixed;
	top: 0;
    z-index: 999999;
}

.header-wrapper {
	width: 100%;
	display: inline-flex;
	align-items: center;
}

.logo-img {
	margin-left: 40px;
	height: 48px;
}

.street-wrapper {
	width: 100%;
	justify-content: center;
}

.top-menu {
	background: rgba(55, 55, 55, 0.5);
	border-radius: 16px;
	padding: 8px 16px;
	display: table;
	margin: auto;
}

.top-menu li {
	background: transparent;
	display: inline-block;
	list-style: none;
	padding: 16px;
    position: relative;
	transition: .2s;
}

.top-menu li a {
	color: #999999;
	text-decoration: none;
	font-size: 18px;
}


.top-menu li:hover a {
	color: #fff;
}

.menu-wrapper {
	width: 100%;
	text-align: center;
}

.menu-img {
    border-radius: 12px;
    position: absolute;
    height: 140px;
    left: -50%;
    top: 52px;
    border: 6px solid #fff2;
    display: none;
    transition: all .4s ease-in-out 0s;
}



.menu-img:hover {
    border-color: #6100FF;
    transition: all .4s ease-in-out 0s;
}

.top-menu li:hover .menu-img {
	display: block;
	transition: all .4s ease-in-out 0s;
}


.active {
	background: #373737 !important;
	border-radius: 10px;
	transition: .5s;
}

.active a {
	color: #fff !important;
}


/********* right menu css *********/

.right-fixed {
	position: fixed;
	right: 0;
	margin-top: 40vh;
	z-index: 1;
}

.right-menu {
	padding-left: 0;
	text-align: right;
}

.right-menu li {
	list-style: none;
	margin-right: 0;
    position: relative;
}

.right-menu li a {
	background: rgba(50, 50, 50, 0.5);
	padding: 0;
	list-style: none;
	margin: 10px 0;
	border-radius: 12px 0 0 12px;
	display: inline-flex;
	font-size: 18px;
	align-items: center;
	transition: all .4s ease-in-out 0s;
}

.right-menu li a:hover {
	background: #6100FF;
	transition: all .4s ease-in-out 0s;
}

.right-menu li a span {
	margin-left: 16px;
	transition: all .4s ease-in-out 0s;
	text-align: left;
	width: 200px;
	letter-spacing: .5;
	margin-right: -270px;
	padding-left: 60px;
	color: rgba(50, 50, 50, 0.5);
}

.right-menu li a:hover span {
	margin-right: 0;
	padding-left: 0;
	color: #fff;
}

.right-menu li a {
	color: #fff;
	text-decoration: none;
}

.right-menu li a img {
	vertical-align: middle;
	width: 32px;
	height: 32px;
	z-index: 999;
	padding: 16px;
}

.right-menu li a:hover img {
	background: #6100FF;
	z-index: 9999;
}

/********* location css *********/

.location {
	position: fixed;
	left: 40px;
	bottom: 40px;
}

.location p {
	color: #fff;
	font-weight: 500;
	vertical-align: middle;
	font-size: 24px;
}

.location p img {
	width: 32px;
	vertical-align: middle;
}

/********* conten css *********/

.content {
	min-height: 100vh;
	background-size: cover;
}

/*********loading-popup**********/

.loading-popup {
	position: fixed;
	width: 100vw;
	height: 100vh;
  background: rgba(50, 50, 50, 0.4);
  z-index: 99999;
  text-align: center;}


.popup-content {
	background: rgba(50, 50, 50, 0.3);
    backdrop-filter: blur(74px);
	width: 600px;
    height: 440px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border-radius: 16px;
	border: 2px solid hsl(0deg 0% 100% / 37%);
	padding:  20px 60px;
	color: #fff;
}

.popup-heading {
	text-align: center;
	margin-top: 20px;
}

.popup-heading img {
	vertical-align: middle;
	margin: 0 10px;
}
.popup-list li {
  list-style: none;
  margin-top: 40px;
  text-align: left;
  font-size: 18px;
}

.popup-wrapper {
	position: relative;
}

.cancel {
	position: absolute;
	right: -20px;
	top: -20px;
}

.btn-wrapper {
	margin-top: 40px;
}

.loading-btn {
	display: inline-block;
	padding: 18px 36px;
	background: rgba(97, 0, 255, 0.1);
    border-radius: 12px;
	color: #fff;
	text-decoration: none;
	margin: 5px;
	font-weight: 600;
	font-size: 20px;
}

.loading-btn img {
	width: 24px;
	vertical-align: middle;
}

.start-btn {
	display: inline-block;
	padding: 18px 36px;
	background: #4814B6;
    border-radius: 12px;
	color: #fff;
	text-decoration: none;
	margin: 5px;
	font-size: 20px;
	font-weight: 600;
	transition: all .3s ease-in-out 0s;
}


.start-btn:hover {
	background: #fff;
	color: #4814B6;
	transition: all .3s ease-in-out 0s;
}


/*********loading-popup**********/


/*********media query**********/

@media only screen and (max-width: 767px) {
	.header-wrapper {
		display: block;
	}
	.menu-wrapper {
		width: 80%;
		margin: auto;
		margin-top: 20px;
	}
	.logo-img {
		display: table;
		margin: auto;
	}
	.top-menu li:hover .menu-img {
		display: none;
	}
	.location p {
		font-size: 14px;
	}

	/*********loading-popup**********/
	.popup-content {
		width: 80vw;
	}
	.popup-content {
		height: 540px;
		padding: 20px;
	}
	
  }