@use '../../../style/variables.scss';

.wrapper {
  position: absolute;
  display: flex;
  top: 36px;
  left: 40px;
  z-index: 10;
  display: flex;
  width: fit-content;
  align-items: center;
  column-gap: 1.5rem;
}

.logo {
  img {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }
}
@media screen and (max-width: 1268px) {
  .wrapper {
    column-gap: 1.5rem;
    row-gap: 12px;
    left: 20px;
  }
}
